# Godot 4+
.godot/
.import/
.nomedia

# Godot export settings
export.cfg
export_credentials.cfg

# Godot temp files
*.tmp
*.TMP
*~

# Mono / C#
.mono/
data_*/
mono_crash.*.json

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# JetBrains IDEs
.idea/

# Exported builds
Export/

# Save data
Saves/Spray/saved.png
Saves/save_data.txt
/.vs
